<!-- Footer -->
<footer class="custom-footer">
  <div class="footer-content">
    <div class="footer-circle-container">
      <div class="footer-circle">
        <div class="footer-circle-content">
          <div class="footer-social-icons">
            <a
              href="https://www.facebook.com/Divadlo-L%C3%A1ryf%C3%A1ry-557447910941660"
              class="footer-social-link"
              title="Facebook"
              target="_blank"
            >
              <img src="images/facebook-divadlo-laryfary.png" alt="Facebook" />
            </a>
            <a
              href="https://www.instagram.com/divadlolaryfary"
              class="footer-social-link"
              title="Instagram"
              target="_blank"
            >
              <img src="images/instagram-divadlo-laryfary.png" alt="Instagram" />
            </a>
          </div>
          <div class="footer-text">
            <p>Ať jsme kamarádi i online.</p>
            <p>info@divadlolaryfary.cz</p>
            <p>608 823 463</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-motto">
      <p>DIVADLO LÁRYFÁRY testováno na dětech</p>
    </div>
  </div>
  <div class="footer-character">
    <img src="images/indiani-zluta.png" alt="Footer Character" />
  </div>
</footer>
