<!-- Top Navigation -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/"> Divadlo Láryfáry </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link{% if '/program.html' in page.url %} active{% endif %}" href="/program.html">Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if '/repertoar/' in page.url %} active{% endif %}" href="/repertoar/">Repertoár</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if '/herci/' in page.url %} active{% endif %}" href="/herci/">Herci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if '/pro-poradatele/' in page.url %} active{% endif %}" href="/pro-poradatele/">Pro pořadatele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if '/nase-knihy.html' in page.url %} active{% endif %}" href="/nase-knihy.html">Naše knihy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if '/besedy/' in page.url %} active{% endif %}" href="/besedy/">Besedy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if '/kontakt/' in page.url %} active{% endif %}" href="/kontakt/">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
